:root {
  --tile-size: calc(12.5vw - 4px);
  --tile-minSize: 100px;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: 'Pinyon Script', cursive;
}

body {
  background: url('./images/background.png') no-repeat; 
  background-size: contain;
}


article {
  padding-top: 180px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tile {
  align-items: center;
  background-size: contain !important;
  cursor: pointer;
  display: flex;
  height: var(--tile-size);
  justify-content: center;
  margin: 6px;
  min-height: var(--tile-minSize);
  min-width: var(--tile-minSize);
  position: relative;
  width: var(--tile-size);
}

img {
  opacity: 0.70;
  transition: 0.5s;
  width: 100%;
}

img:hover {
  opacity: 1;
}

img:active {
  transform: scale(0.95);
}

figcaption {
  background-color: black;
  color: white;
  left: 0;
  padding: 2px 5px;
  position: absolute;
  top: 0;
}

footer {
  position: fixed;
  left: 12px;
  bottom: 0;
  width: 100%;
}