:root {
  --tile-size: calc(12.5vw - 4px);
  --tile-minSize: 100px;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: "Pinyon Script", cursive;
}

body {
  background: url("./images/background.png") no-repeat;
  background-size: contain;
}

footer {
  position: fixed;
  left: 12px;
  bottom: 0;
  width: 100%;
}
